/.gradle/
/accepted/index.html
/build/
/contact/index.html
/etc/git-log-summary.xml
/index.html
/menus/
/proposed/functions/index.html
/proposed/index.html
/proposed/schemas/index.html
/proposed/steps/fileutils.html
/proposed/steps/index.html
/proposed/steps/os.html
/proposed/steps/other.html
